
  <head>
    <title>INSTAGRAM FAKE ACCOUNT DETECTION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  
  <body>

    <nav class="navbar default fixed-top shadow-lg" style="background-color: rgb(46, 46, 46); color: white;">
        <div class="container">
          <a class="navbar-brand" href="" style="color: inherit;text-decoration: inherit;">Home</a>
        </div>
      </nav>
      <br><br><br>
      <h1 class="container" style="text-align: center;">INSTAGRAM FAKE ACCOUNT DETECTION</h1>
      <form method="post" action="">{% csrf_token %}
      <div class="container shadow-lg p-5 mb-5 bg-body rounded"><label for="insta_id"><H3>INSTAGRAM ID</H3></label><input class="form-control form-control-lg mb-2 mt-3" type="text" placeholder="{{error}}" name="insta_id">
        <button type="button submit" class="btn btn-primary btn-lg mt-3">Submit</button></div></form>
    
        <h1 class="container mt-6" style="text-align: end;">TEAM MEMBERS</h1>
        <div class="container shadow-lg p-5 mb-5 bg-body rounded"  style="text-align: center;"><label for="insta_id">
          <div class="row">
            <div class="col-4"><img src="static/images/no_dp.jpg" alt="" width="60%" style="aspect-ratio: 1/1;"></div>
            <div class="col-4"><img src="static/images/no_dp.jpg" alt="" width="60%" style="aspect-ratio: 1/1;"></div>
          </div>
          <div class="row">
            <div class="col-4"><h2>RANJIT K J</h2></div>
            <div class="col-4"><h2>SUBBAHEMANTH RAJU M V</h2></div>
          </div>
          <br>
        </div>
       </body>